<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>File Upload App</display-name>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsController</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.ContactsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/RegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>by.expertsoft.contacts.controller.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsController</servlet-name>
        <url-pattern>/ContactsController</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>tempDirPath</param-name>
        <param-value>c:\\</param-value>
    </context-param>
    <context-param>
        <param-name>destinationDirPath</param-name>
        <param-value>c:\\</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
